@import 'tailwindcss';
/*@import "@nuxt/ui";*/
@import '@nuxt/ui';

@font-face {
  font-family: 'Montserrat';
  src:
    local('Montserrat'),
    url(../fonts/montserrat-alt1/fonts/ttf/MontserratAlt1-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu-R';
  src: url(../fonts/ubuntu-font-family-0.80/Ubuntu-R.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu-M';
  /* font-style: monospace; */
  font-weight: 50;
  src: url(../fonts/ubuntu-font-family-0.80/UbuntuMono-R.ttf) format('truetype');
}
@theme static {
  /*--font-sans: 'Montserrat alt-1', sans-serif;*/
  --font-sans: 'Ubuntu-R', sans-serif;
  --font-mono: 'Ubuntu-M', monospace;
  /* Override default green color */
  --color-green-50: #effdf5;
  --color-green-100: #d9fbe8;
  --color-green-200: #b3f5d1;
  --color-green-300: #75edae;
  --color-green-400: #00dc82;
  --color-green-500: #00c16a;
  --color-green-600: #00a155;
  --color-green-700: #007f45;
  --color-green-800: #016538;
  --color-green-900: #0a5331;
  --color-green-950: #052e16;

  --color-opsi-magenta: #cb1e58;
  --color-opsi-magenta-50: #cb1e58;
  --color-opsi-magenta-100: #cb1e58;
  --color-opsi-magenta-200: #cb1e58;
  --color-opsi-magenta-300: #cb1e58;
  --color-opsi-magenta-400: #cb1e58;
  --color-opsi-magenta-500: #cb1e58;
  --color-opsi-magenta-600: #cb1e58;
  --color-opsi-magenta-700: #cb1e58;
  --color-opsi-magenta-800: #cb1e58;
  --color-opsi-magenta-900: #cb1e58;

  --color-opsi-blue-50: #f2f6fc;
  --color-opsi-blue-100: #e2ebf7;
  --color-opsi-blue-200: #ccdcf1;
  --color-opsi-blue-300: #a9c6e7;
  --color-opsi-blue-400: #3f5aa6; /* buttons in dark mode / primary */
  --color-opsi-blue-500: #3f5aa6; /* buttons in light mode  / primary */
  --color-opsi-blue-600: #3f5aa6;
  --color-opsi-blue-700: #3f5aa6;
  --color-opsi-blue-800: #3c5091;
  --color-opsi-blue-900: #344574;
  --color-opsi-blue-950: #242c47;
  /*--color-opsi-blue-950: #3f5aa6;*/

  /* Define new custom color */
  --color-brand-50: #fef2f2;
  --color-brand-100: #fee2e2;
  --color-brand-200: #fecaca;
  --color-brand-300: #fca5a5;
  --color-brand-400: #f87171;
  --color-brand-500: #ef4444;
  --color-brand-600: #dc2626;
  --color-brand-700: #b91c1c;
  --color-brand-800: #991b1b;
  --color-brand-900: #7f1d1d;
  --color-brand-950: #450a0a;

  --color-opsi-background-light: #ffffff;
  --color-opsi-background-dark: #3f3f3e;
  --color-opsi-background-accented-dark: #4b4b49;
  --color-opsi-background-gray: #b2b2b2;
  --color-opsi-background-accented: #e4e4e3;
  --color-opsi-debug: #565656;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  --font-sans: 'Montserrat', sans-serif;
  font-family: var(--font-sans);
}
html {
  --ui-bg: var(--color-opsi-background-light); /* Light mode */
  --ui-bg-inverted: var(--color-opsi-background-accented-dark);
  --ui-text: #000000;
  --ui-text-muted: #000000;
  --ui-text-inverted: #e1e1e1;
}

html.dark {
  --ui-bg: var(--color-opsi-background-dark); /* Dark mode */
  --ui-bg-inverted: var(--color-opsi-background-accented-dark);
  --ui-text: #e1e1e1;
  --ui-text-muted: #e1e1e1;
  --ui-text-inverted: #e1e1e1;
  --ui-border: var(--color-opsi-debug);
  --ui-border-accented: var(--color-opsi-debug);
  --ui-border-inverted: var(--color-opsi-debug);
}
