:root{

  /* opsi red cb1e58 ; opsi blue 3f5aa6*/
  --opsi-first: #3f5aa6;
  --opsi-first-light: #4a67b5;
  --opsi-first-dark: #2d4178;
  --opsi-second: #cb1e58;
  --opsi-second-dark: #b2b2b2;

  /* --opsi-first: #cb1e58;
  --opsi-first-light: #c7a6b1;
  --opsi-first-dark: #741031;
  --opsi-second: #3f5aa6;
  --opsi-second-dark: #2d4178; */

  --opsi-general-grey-dark: #4b4b49; /*new*/
  --opsi-general-grey: #e4e4e3;
  --opsi-general-grey-light: #b2b2b2;

  --opsi-base-foreground: #E1E1E1;
  --opsi-base-background: #3f3f3e; /*updated*/
  --border: #4b4b49;
  --placeholder: #b2b2b2;
  --highlight:#4b4b49;

  /*--general-realy-dark: #545453;  /*new*/
  --general-opsi-grey-dark: #4b4b49; /*updated*/
  --general-opsi-grey: #b2b2b2; /*updated*/
  --general-opsi-grey-light: #e4e4e3;
/* bg: #2b2b2b*/
  --general-fg-disabled: var(--opsi-general-grey);
  --general-bg-weak: var(--opsi-general-grey-dark);
  --general-bg-light: var(--opsi-first); /*updated*/

  --success: #009605;
  --warning: #FF9100;
  --warning-hover: #FF9100;
  --danger: #E51D3B;
  --primary: var(--opsi-first);
  --secondary: var(--opsi-second);
  /* --primary: var(--general-fg); */
  --info: var(--opsi-first);
  --light: var(--general-opsi-grey-light);
  --dark: var(--general-opsi-grey-dark);

  --primary-foreground: var(--white);
  --secondary-foreground: var(--light);
  --success-foreground: var(--light);
  --warning-foreground: var(--light);
  --danger-foreground: var(--light);

  --primary-dark: var(--opsi-first-dark);
  --secondary-dark: var(--opsi-second-dark);
  --success-dark: #246b32;
  --danger-dark: #aa2126;
  --warning-dark: #bb8819;
  --info-dark: #0161a0;
  --light-dark: #b9bbbd;
  --dark-dark: #181a1d;



  /* borders durchgehen */
  /* shadow box order so durchgehen */

  --log-secret: #D500F9;
  --log-trace: #8B8B8B;
  --log-debug: #C0C0C0;
  --log-info: #F5F5F5;
  --log-notice: #009605;
  --log-warning: #FF9100;
  --log-error: #E51D3B;
  --log-critical: #E20066;
  --log-essential: #2979FF;

  /**???***/
  --log-secondary: #212121;
  --log-muted: #5b616b;
}
