:root{
  --opsi-first: #3f5aa6;
  --opsi-first-light: #4a67b5;
  --opsi-first-dark: #2d4178;
  --opsi-second: #cb1e58;
  --opsi-second-dark: #b2b2b2;
  /* opsi red cb1e58 ; opsi blue 3f5aa6*/
  /* --opsi-first: #cb1e58;
  --opsi-first-light: #c46f8b;
  --opsi-first-dark: #741031;
  --opsi-second: #3f5aa6;
  --opsi-second-dark: #2d4178; */

  --opsi-general-grey-dark: #4b4b49;
  --opsi-general-grey: #b2b2b2;
  --opsi-general-grey-light: #e4e4e3;

  --opsi-base-background: #ffffff;
  --opsi-base-foreground: #000000;
  --border: #e4e4e3;
  --placeholder: #4b4b49;
  --highlight:#f2f2f2; /* current hovering styles are very loud*/

  /*--general-realy-dark: #545453;  /*new*/
  --general-opsi-grey-dark: #b2b2b2;
  --general-opsi-grey-light: #e4e4e3;

  --general-fg-disabled: var(--opsi-general-grey);
  --general-bg-weak: var(--general-opsi-grey-light);
  --general-bg-light: var(--opsi-first-light); /*updated*/


  --success: #009605;
  --warning: #FF9100;
  --danger: #E51D3B;
  --primary: var(--opsi-first);
  /* --primary: var(--general-fg);  */
  --info: var(--opsi-first);
  --light: var(--general-opsi-grey-light);
  --dark: var(--general-opsi-grey-dark);

  --primary-foreground: var(--white);
  --secondary-foreground: var(--light);
  --success-foreground: var(--light);
  --warning-foreground: black;
  --danger-foreground: white;

  --primary-dark: var(--opsi-first-dark);
  --secondary-dark: var(--opsi-second-dark);
  --success-dark: #006f04;
  --danger-dark: #a11429;
  --warning-dark: #bc6a00;
  --info-dark: #0161a0;
  --light-dark: #b9bbbd;
  --dark-dark: #181a1d;

  --log-secret: #D500F9;
  --log-trace: #8B8B8B;
  --log-debug: #565656;
  --log-info: #212121;
  --log-notice: #009605;
  --log-warning: #FF9100;
  --log-error: #E51D3B;
  --log-critical: #E20066;
  --log-essential: #2979FF;
}