@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url(../fonts/montserrat-alt1/fonts/ttf/MontserratAlt1-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Ubuntu-R";
  src: url(../fonts/ubuntu-font-family-0.80/Ubuntu-R.ttf) format("truetype");
}
@font-face {
  font-family: "Ubuntu-M";
  /* font-style: monospace; */
  font-weight: 50;
  src: url(../fonts/ubuntu-font-family-0.80/UbuntuMono-R.ttf) format("truetype");
}
:root{
  /* color schema see color-light / dark.css */
  /* --primary: var(--opsi-red);
  --secondary: var(--opsi-blue); */

  /* --font-family-general: "Ubuntu"; */
  /* --font-family-logo: "Montserrat"; */
  /* --font-family-logo: "Montserrat-Alt1 Thin"; */
  --font-family-logo: "Montserrat";
  --font-family-logo-weight: 100;

  /* --font-family-logo: "Montserrat alt-1"; */
  --font-family-general: "Ubuntu-R";
  /* --font-family-code: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
  "Courier New", monospace !important; */
  --font-family-code:  "Ubuntu-M";
  --font-family-log:  "Ubuntu-M";
  --font-family-log-size:  13px;
  /* --font-family-log: var(--font-family-general); */
  --font-family-popover: var(--font-family-general);
  --font-family-tooltip: var(--font-family-general);
  /* --font-family-tooltip: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  --font-family-sans-serif: var(--font-family-general);
  --font-family-monospace: var(--font-family-code);

  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

  --text-smaller: 10px;
  --text-small: 13px;

  --component-height: 30px;
  --component-width: 250px;
  --wrapper-width: 300px;

  --max-height-window:500px;
  --height-navbar: 45px;

  --width-sidebar-expanded:170px;
  --width-sidebar-collapsed:53px;

  --margin-top-maincontent:50px;
  --margin-left-maincontent:15px;
  --margin-left-maincontent-if-sidebar-collpased:65px;
  --margin-left-maincontent-if-sidebar-expanded:180px;
  --min-height-button: var(--component-height);
  --min-line-height: 12px;

  --white: #ffffff;

  --general-fg: var(--opsi-base-foreground);
  --general-bg: var(--opsi-base-background);

  /** simple outline element like btn */
  --primary-outline-foreground: var(--general-fg);
  --primary-outline-foreground-disabled: var(--general-fg-disabled);
  --primary-outline-background: var(--general-bg);

  --primary-selected-item-background: var(--primary-dark);
  --primary-foreground-disabled: var(--general-fg-disabled);
  --secondary-foreground: var(--white);
  --ok-foreground: var(--white);
  --warning-foreground: var(--white);
  --error-foreground: var(--white);

  /***** COLORS *****/
  --fg-input_component: var(--general-fg);
  --bg-input_component: var(--general-bg);
  --b-input_component: var(--general-bg-weak);
  --fg-input_component-focus: var(--general-fg);
  --bg-input_component-focus: var(--general-bg);
  --b-input_component-focus: var(--primary);

  /* foreground / text */
  --foreground:var(--general-fg);
  --fg-basic:var(--general-fg);
  --color:var(--general-fg);
  --element-disabled: var(--light);

  /* backgrounds */
  --bg-basic:var(--general-bg);
  --background:var(--general-bg);
  --component: var(--background);

  /* border colors */
  /* --table-border: var(--general-bg); */
  /* --table-border: var(--primary); */
  --btn-border: var(--general-bg);
  --border: var(--general-primary);

  /* hover colors */
  --hover: var(--primary-dark);
  --btn-hover: var(--general-bg);
  --dropdown-hover: var(--hover);
  --nav-tab-hover: var(--hover);
  --page-link-hover: var(--hover);
  --table-hover: var(--hover);
  --color-hover: 155, 155, 155, .1; /**?????**/

  /* highlighted component */
  --highlight: var(--highlight);
  --placeholder: var(--placeholder);


  /** Dark DONE: **/


  /* --table-border */
  /* --table-hover */
}
h1.title {
  font-family: var(--font-family-logo);
}
.mobile * {
  font-size: large;
}
.table {
  --bs-table-border-color: var(--general-fg);
  /* --bs-table-striped-bg: #c5d7f2; */
  --bs-table-striped-color: var(--secondary);
  --bs-table-hover-bg: var(--bg-table-hover);
  --bs-table-hover-color: var(--fg-table-hover);

  --bs-table-color: var(--general-fg);
  --bs-table-active-bg: var(--bg-table-hover);
  --bs-table-active-color: var(--idk);
  --bs-table-bg: var(--general-bg);
  color: unset !important;
}

.table > :not(caption) > * > * {
  border-bottom-width: 0px;
}

.table-primary {
  --bs-table-hover-bg: var(--bg-table-hover-selected);
  --bs-table-hover-color: var(--fg-table-hover-seleted);
  --bs-table-bg: var(--bg-table-selected);
  --bs-table-active-bg: var(--bg-table-selected);
  --bs-table-active-color: var(--fg-table-selected);
  --bs-table-color: var(--fg-table-selected);
  /* Selected rows: */

  /* --bs-table-accent-bg: var(--bs-table-hover-bg); */
}
.table-hover > tbody > tr:hover > * {
  --bs-table-accent-bg: var(--bs-table-hover-bg);
  color: var(--bs-table-hover-color);
}

.table tr .selected.btn , /* initially selected rows*/
.table tr .selected>.btn {
  color: var(--fg-table-selected) !important;
}
.table tbody tr:hover .btn {
  color: var(--fg-table-hover-hover) !important;
}
.table tr:hover .selected.btn,
.table tr:hover .selected>.btn {
  color: var(--fg-table-hover-seleted) !important;
}
.webgui_title {
  font-family: var(--font-family-logo) !important;
  font-weight: var(--font-family-logo-weight) !important;
  /* font-family: Montserrat, regular !important; */
  /* font-family: 'Montserrat-Alt1'; */
  /* font-weight: 200; */
}
.li-delimiter {
  border-top: 1px solid var(--primary-outline-foreground-disabled);
  color: var(--primary-outline-foreground-disabled);
}
body {
  font-family: var(--font-family-general) !important;
}
body .mobile .main_content {
  zoom: 0.8;
}
body .mobile #sidemenu,
body .mobile .topbar_content .navbar > * {
  zoom: 1.2;
}

.modal-dialog,
.modal {
  height: 100% !important;
  max-height: 100% !important;
  display: inherit !important;
}
.modal-dialog {
  top: 0px !important;
  height: 90% !important;
}

[class$="bg-orange"] { background-color: var(--orange) !important;}
[class$="bg-yellow"] { background-color: var(--yellow) !important;}
[class$="bg-red"] { background-color: var(--red) !important;}
[class$="bg-green"] { background-color: var(--green) !important;}
[class$="bg-blue"] { background-color: var(--blue) !important;}
[class$="bg-grey"] { background-color: var(--gray) !important;}

[class$="fg-orange"] { color: var(--orange) !important;}
[class$="fg-yellow"] { color: var(--yellow) !important;}
[class$="fg-red"] { color: var(--red) !important;}
[class$="fg-green"] { color: var(--green) !important;}
[class$="fg-blue"] { color: var(--blue) !important;}
[class$="fg-grey"] { color: var(--gray) !important;}

.btn, .dropdown-item, .treeselect{
  min-height: var(--min-height-button) !important;
  min-width: var(--min-height-button) !important;
  font-size: var(--text-small);
}
.mobile .btn, .mobile .dropdown-item, .mobile .treeselect{
  font-size: medium;
}
.desktop .btn, .desktop .dropdown-item, .desktop .treeselect{
  /* font-size: medium; */
  font-size: var(--text-small);
}
.form-control-sm, .custom-select-sm{
  font-size: var(--text-small);
}
.value-changed-not-saved {
  color: var(--orange) !important;
}
.width-max-content{
  max-width: max-content !important;
}
.footer_content .btn, .footer_content .navbar, .footer_content .navbar-brand, .footer_content .navbar-nav .nav-link, .footer_content .navbar-text,
.topbar_content .btn, .topbar_content .navbar, .topbar_content .navbar-brand, .topbar_content .navbar-nav .nav-link, .topbar_content .navbar-text,
.sidebar_content .b-icon,
.sidebar_content .btn,
.sidebar_content .navbar,
.sidebar_content .nav-item,
.sidebar_content .navbar-text,
.sidebar_content .nav-tabs .nav-link,
.sidebar_content .nav-tabs .nav-link.disabled,
.sidebar_content .navbar-brand,
.sidebar_content .navbar-nav .nav-link {
  color: inherit !important;
  background-image: none !important;
}
.footer_content .btn, .footer_content .dropdown-toggle,
.topbar_content .btn, .topbar_content .dropdown-toggle,
.sidebar_content .btn, .sidebar_content .nav-tabs .nav-link, .sidebar_content .nav-tabs .nav-link.disabled {
  border: none !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom: none !important;
  background-color: transparent !important;
}
.form-control.focus {
  border-color: var(--b-input_component-focus);
  box-shadow: unset;
}
.navbar > .btn:hover {
  color: var(--primary-foreground) !important;
}
tr.b-table-row-selected > td > .btn,
tr:hover > td > .btn {
  color: var(--primary-foreground) !important;
}
tr:hover > td > .btn:hover {
  background-color: var(--primary) !important;
}
.btn, .btn:hover {
  /* color: var(--color); */
  color: var(--general-fg);
  background-color: transparent;
}
.btn:hover {
  /* color: var(--color); */
  color: var(--primary-foreground) !important;
  background-color: var(--primary-dark) !important;
  border-color: var(--bg-page_item-disabled) !important;
}

tbody .col-rowactions > div >.btn-group> .btn {
  height: var(--component-height) !important;
  min-height: var(--min-height-button) !important;
}
tbody .col-rowactions :not(div).btn {
  padding-top: 6px;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-sm.active, .btn:hover {
  color: var(--primary-foreground) !important;
  background-color: var(--primary-dark) !important;
  border-color: var(--bg-page_item-disabled) !important;
}
.btn-primary {
  color: var(--fg-btn);
  background-color: var(--bg-btn) !important;
  border-color: var(--b-btn) !important;
}
.btn-primary:hover {
  color: var(--fg-btn-hover);
  background-color: var(--bg-btn-hover) !important;
  border-color: var(--b-btn-hover) !important;
}
.btn-secondary {
  color: var(--fg-btn_secondary) !important;
  background-color: var(--bg-btn_secondary) !important;
  border-color: var(--b-btn_secondary) !important;
}
.btn-secondary:hover {
  color: var(--fg-btn_secondary-hover) !important;
  background-color: var(--bg-btn_secondary-hover) !important;
  border-color: var(--b-btn_secondary-hover) !important;
}
.btn-success {
  color: var(--fg-btn_success);
  background-color: var(--bg-btn_success) !important;
  border-color: var(--b-btn_success) !important;
}
.btn-success:hover {
  color: var(--fg-btn_success-hover);
  background-color: var(--bg-btn_success-hover) !important;
  border-color: var(--b-btn_success-hover) !important;
}
.btn-danger {
  color: var(--fg-btn_danger);
  background-color: var(--bg-btn_danger) !important;
  border-color: var(--b-btn_danger) !important;
}
.btn-danger:hover {
  color: var(--fg-btn_danger-hover);
  background-color: var(--bg-btn_danger-hover) !important;
  border-color: var(--b-btn_danger-hover) !important;
}
.btn-warning {
  /* color: #212529;
  background-color: var(--warning) !important;
  border-color: var(--warning) !important; */
  color: var(--fg-btn_warning);
  background-color: var(--bg-btn_warning) !important;
  border-color: var(--b-btn_warning) !important;
}
.btn-warning:hover {
  /* color: #212529;
  background-color: var(--warning-dark) !important;
  border-color: var(--warning-dark) !important; */
  color: var(--fg-btn_warning-hover);
  background-color: var(--bg-btn_warning-hover) !important;
  border-color: var(--b-btn_warning-hover) !important;
}
.btn-info {
  color: var(--fg-btn_info);
  background-color: var(--bg-btn_info) !important;
  border-color: var(--b-btn_info) !important;
  /* color: var(--btn-fg);
  background-color: var(--info) !important;
  border-color: var(--info) !important; */
}
.btn-info:hover {
  /* color: var(--btn-fg);
  background-color: var(--info-dark) !important;
  border-color: var(--info-dark) !important; */
  color: var(--fg-btn_info-hover);
  background-color: var(--bg-btn_info-hover) !important;
  border-color: var(--b-btn_info-hover) !important;
}
.btn-light {
  /* color: #212529;
  background-color: var(--light) !important;
  border-color: var(--light) !important; */
  color: var(--fg-btn_light);
  background-color: var(--bg-btn_light) !important;
  border-color: var(--b-btn_light) !important;
}
.btn-light:hover {
  /* color: #212529;
  background-color: var(--light-dark) !important;
  border-color: var(--light-dark) !important; */
  color: var(--fg-btn_light-hover);
  background-color: var(--bg-btn_light-hover) !important;
  border-color: var(--b-btn_light-hover) !important;
}
.btn-dark {
  /* color: var(--btn-fg);
  background-color: var(--dark) !important;
  border-color: var(--dark) !important; */
  color: var(--fg-btn_dark);
  background-color: var(--bg-btn_dark) !important;
  border-color: var(--b-btn_dark) !important;
}
.btn-dark:hover {
  /* color: var(--btn-fg);
  background-color: var(--dark-dark) !important;
  border-color: var(--dark-dark) !important; */
  color: var(--fg-btn_dark-hover);
  background-color: var(--bg-btn_dark-hover) !important;
  border-color: var(--b-btn_dark-hover) !important;
}




/* .table.b-table > thead > tr > [aria-sort=none] {
  background-color: aqua;
  color: green !important;
} */

.log-row-1 { background-color: transparent; color: var(--log-essential); }
.log-row-2 { background-color: transparent; color: var(--log-critical); }
.log-row-3 { background-color: transparent; color: var(--log-error); }
.log-row-4 { background-color: transparent; color: var(--log-warning); }
.log-row-5 { background-color: transparent; color: var(--log-notice); }
.log-row-6 { background-color: transparent; color: var(--log-info); }
.log-row-7 { background-color: transparent; color: var(--log-debug); }
.log-row-8 { background-color: transparent; color: var(--log-trace); }
.log-row-9 { background-color: transparent; color: var(--log-secret); }


.bg-primary {
  background-color: var(--primary) !important;
}
.bg-secondary {
  background-color: var(--secondary) !important;
}
.bg-normal {
  color:var(--color) !important;
  background: var(--background) !important;
}
.text-primary {
  color: var(--txt-fg) !important;
  background: var(--primary) !important;
}
.text-secondary {
  color: var(--log-secondary, black) !important;
}
.text-success {
  color: var(--txt-fg) !important;
  background: var(--success) !important;
}
.text-danger {
  background: var(--danger) !important;
  color: var(--txt-fg) !important;
}
.text-info {
  color: var(--txt-fg) !important;
  background: var(--info) !important;
}
.text-light {
  color: var(--light) !important;
}
.text-dark {
  background: var(--dark) !important;
  color: var(--txt-fg) !important;
}
.text-white {
  color: var(--txt-fg) !important;
}
.text-muted {
  color: var(--primary-outline-foreground-disabled, gray) !important;
}
.bg-warning {
  color:#212121 !important;
  background: var(--warning) !important;
}
.nav-link.disabled {
  color: var(--primary-outline-foreground-disabled, gray) !important;
  cursor: not-allowed;
}
.loadingCursor {
  cursor: wait;
}
.helpCursor {
  cursor: help;
}
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: 2px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.custom-control {
  height: var(--component-height) !important;
}
.vue-treeselect__x-container:hover {
  color: var(--general-fg);
}

.vue-treeselect__checkbox--checked,
.vue-treeselect__checkbox--indeterminate,
.vue-treeselect__label-container:hover .vue-treeselect__checkbox--checked,
.vue-treeselect__label-container:hover .vue-treeselect__checkbox--indeterminate{
  background-color: var(--primary);
  border-color: var(--primary);
}
.vue-treeselect__label-container:hover .vue-treeselect__checkbox--unchecked {
  border-color: var(--general-fg);
}
.treeselect_notstored .vue-treeselect__control {
  color: var(--fg-input_component) !important;
  background-color: var(--bg-input_component) !important;
  border:1px solid var(--b-input_component) !important;
}
.treeselect_notstored.vue-treeselect--focused .vue-treeselect__control {
  color: var(--fg-input_component-focus) !important;
  background-color: var(--bg-input_component-focus) !important;
  border:1px solid var(--b-input_component-focus) !important;
  box-shadow: var(--b-input_component-focus) !important;
}

.treeselect_with_wrapper .vue-treeselect__control {
  color: var(--fg-input_component) !important;
  background-color: var(--bg-input_component) !important;
  border: 0px;
}
.treeselect_with_wrapper.vue-treeselect--focused .vue-treeselect__control {
  color: var(--fg-input_component-focus) !important;
  background: var(--bg-input_component-focus) !important;
  border:0px;
  box-shadow: var(--b-input_component-focus) !important;
}

.treeselect .vue-treeselect__menu {
  background: var(--general-bg, var(--background, black));
  color: var(--color, var(--general-fg, white));
  border:1px solid var(--b-input_component) !important;
}
.treeselect .vue-treeselect__single-value {
  color: var(--color, var(--light, white));
}
.treeselect .vue-treeselect__multi-value-label {
  color: var(--color, var(--light, white));
  background: var(--general-bg, var(--background, black));
}
.treeselect .vue-treeselect__multi-value-item {
  background: var(--general-bg, var(--background, black));
  font-size: small;
}
.treeselect .vue-treeselect__value-remove {
  display: none;
}
.treeselect .vue-treeselect__input {
  color: var(--color) !important;
}
.treeselect .vue-treeselect__menu .vue-treeselect__option--highlight {
  color: var(--color);
  background-color: var(--highlight);
}
.treeselect.vue-treeselect--single .vue-treeselect__option--selected{
  color: var(--light);
  background-color: var(--primary);
}

.treeselect_fullpage .vue-treeselect__menu {
  min-height: 77vh;
}
.treeselect_quickpanel .vue-treeselect__menu {
  min-height: 35vh;
}
.treeselect_quickpanel .vue-treeselect__control-arrow-container {
  display: none;
}

.treeselect_short{
  max-width: var(--component-width) !important;
}

.contextmenu .btn{
  text-align: left;
  padding-left: 0;
  width: 100%;
}
.contextmenu .btn::after {
  float: right;
  margin-top: 10px;
}
.table-primary.b-table-row-selected {
  background-color: var(--bg-table-selected);
}

.tooltip>.arrow {
  --bs-tooltip-color: var(--bg-tooltip_inner) !important;
  --bs-tooltip-bg: transparent !important;
  background-color: var(--bs-tooltip-bg) !important;
  color: var(--bs-tooltip-color) !important;
}
.tooltip {
  --bs-tooltip-color: var(--fg-tooltip_inner) !important;
  --bs-tooltip-bg: var(--bg-tooltip_inner) !important;
  background-color: var(--bs-tooltip-bg) !important;
  color: var(--bs-tooltip-color) !important;
  border: 1px solid var(--b-bs_tooltip) !important;
  padding: 10px;
  font-family: inherit !important;
}
.tooltip>.tooltip-inner {
  --bs-tooltip-color: var(--fg-tooltip_inner) !important;
  --bs-tooltip-bg: var(--bg-tooltip_inner) !important;
  background-color: var(--bs-tooltip-bg) !important;
  color: var(--bs-tooltip-color) !important;
  border: 1px solid var(--b-bs_tooltip) !important;
  padding: 10px;
}

.text-smaller  {
  font-size: var(--text-smaller)!important;
}
.text-small  {
  font-size: var(--text-small)!important;
}
.componentwidth {
  width: var(--component-width) !important;
}
div.scrollValue {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}
.filter {
  max-width: var(--component-width) !important;
}
.componentwrapper {
  max-width: var(--wrapper-width)!important;
}

#quicksettingsDD {
  width: 70px;
}
#quicksettingsDD .dropdown-toggle::after{
  display:none;
}
#quicksettingsDD .selected,
#quicksettingsDD .selected > a.dropdown-item,
#quicksettingsDD .selected:hover {
  color: var(--light) !important;
  background-color: var(--primary) !important;
}
#quicksettingsDD .selected > a.dropdown-item:hover {
  background-color: var(--primary-dark) !important;
}