{
  "singleQuote": true,
  "semi": false,
  "vueIndentScriptAndStyle": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "printWidth": 140
}
