
[submodule "opsiweb/components/rel"]
	path = opsiweb/components
	url = ../opsiweb-ui-components.git
	branch = master

[submodule "opsiweb/components/abs"]
	path = opsiweb/1components
	url = git@gitlab.uib.gmbh:uib/opsiweb-ui-components.git
	branch = master

[submodule "opsiweb/components/cicd2"]
	path = opsiweb/2components
	url = ../../opsiweb-ui-components.git

[submodule "opsiweb/components/cicd3"]
	path = opsiweb/3components
	url = ../../../opsiweb-ui-components.git

