.devcontainer/opsi-docker/
*.backup
*.tmp*
*_tmp*
.env
*backup*
backend/opsibackup
backend/addon/webgui/data
backend/.vscode/settings.json
.nuxt/
.nuxt-storybook/
*node_modules*
# opsiweb/.nuxt/
# opsiweb/.nuxt-storybook/
opsiweb/test/README.md
opsiweb/test-results/
# opsiweb/uib-components/
# opsiweb/package.json
opsiweb/opsi-webgui.zip
opsiweb/package-merged.json
# package-dry.json
# package-lock.json
# opsi.bak
opsiweb/.config/test-result-pw-reporter-component.xml
opsiweb/.config/test-result-pw-reporter-accessibility.xml
opsiweb/test-result-pw-reporter-components.xml
opsiweb/test-result-pw-reporter-component.xml
opsiweb/test-results/
opsiweb/screenshots4Docs/test-result-pw-reporter-screenshot.xml
opsiweb/.config/test-result-pw-reporter-usecase.xml
.devcontainer/*modules*

# python
__pycache__
