*.backup
*.tmp*
*_tmp*
.env
*backup*
backend/opsibackup
.nuxt/
.nuxt-storybook/
*node_modules*
# opsiweb/.nuxt/
# opsiweb/.nuxt-storybook/
opsiweb/test/README.md
opsiweb/test-results/
opsiweb/uib-components/
opsiweb/package.json
opsiweb/package-merged.json
opsi.bak
opsiweb/test-result-pw-reporter-components.xml
opsiweb/test-result-pw-reporter-e2e.xml