# Backend
**/__pycache__/

# Docker
docker/.env
docker/opsiconfd/

.pnpm-store/
sbom.json

# Frontend
frontend/.output/
frontend/.nuxt/
frontend/dist/
frontend/tsconfig.tsbuildinfo
frontend/node_modules/
frontend/certs/
frontend/test-results/