
@use '../colors.scss' as colors; // use general opsi colors


@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  // --el-card-bg-color: #3f3f3e !important
  // overwrite whats needed
  $colors: colors.$plus-theme-colors,
  // $bg-color:(
  //   '': #ffffff,
  //   'page': #f2f3f5,
  //   'overlay': #ffffff,
  // ),
  $card: (
    'bg-color': #3f3f3e,
  ),
  $border-color: (
    '': #dcdfe600,
    // 'light': #e4e7ed,
    // 'lighter': #ebeef5,
    // 'extra-light': #f2f6fc,
    // 'dark': #d4d7de,
    // 'darker': #cdd0d6,
  ),
  $fill-color: (
    '': #f0f2f500,
    // 'light': #f5f7fa,
    // 'lighter': #fafafa,
    // 'extra-light': #fafcff,
    // 'dark': #ebedf0,
    // 'darker': #e6e8eb,
    'blank': #ffffff00,
  ),
);

@use './dark.scss';