@use '../opsi.scss' as opsi;

html.dark {
  --color-background: #{opsi.$opsi-base-dark-background};
  --color-text: #{opsi.$opsi-base-dark-text};
  --hover: #{opsi.$opsi-gray};
  --border: #{opsi.$opsi-log-light-debug};
  --placeholder: #{opsi.$opsi-medium-gray};
}

/* Switch */
html.dark .el-switch {
  --el-switch-on-color: #{opsi.$opsi-blue};
  --el-switch-off-color: #{opsi.$opsi-gray};
}
html.dark .el-switch__core {
  border: 1px solid #{opsi.$opsi-medium-gray};
}
