@use '../opsi.scss' as opsi;

html {
  --color-background: #{opsi.$opsi-base-light-background};
  --color-text: #{opsi.$opsi-base-light-text};
  --hover: #{opsi.$opsi-light-gray};
  --border: #{opsi.$opsi-medium-gray};
  --placeholder: #{opsi.$opsi-gray};
}

/* Switch */
html .el-switch {
  --el-switch-on-color: #{opsi.$opsi-blue};
  --el-switch-off-color: #{opsi.$opsi-medium-gray};
}
