// Base grayscale colors definitions
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

// Base colors definitions
$opsiblue: #3f5aa6 !default;
$opsired: #cb1e58 !default;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

// Theme color default definitions
$primary: $opsiblue !default;
$secondary: $opsired !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

// This table defines the theme colors (variant names)
$plus-theme-colors: (
    'primary': ('base':  $primary),
    'success': ('base': $success),
    'warning': ('base': $warning),
    'danger': ('base': $danger),
    'error': ('base': $danger),
    'info': ('base': $info),) !default;
// $theme-colors: map-merge(
//   (
//     'primary': $primary,
//     'secondary': $secondary,
//     'success': $success,
//     'info': $info,
//     'warning': $warning,
//     'danger': $danger,
//     'error': $danger,
//     'light': $light,
//     'dark': $dark
//   ),
//   $theme-colors
// );
@import '../../node_modules/bootstrap/scss/bootstrap.scss'

// // Bootstrap and its default variables
// @import '../../node_modules/bootstrap/scss/bootstrap';
// // BootstrapVue and its default variables
// @import '../../node_modules/bootstrap-vue/src/index.scss';
// 'primary': (
//     'base': rgba(107,33,168, 1),
//     // 'base':  $primary,
//   ),
//   'success': (
//     'base': #67c23a,
//   ),
//   'warning': (
//     'base': #e6a23c,
//   ),
//   'danger': (
//     'base': #f56c6c,
//   ),
//   'error': (
//     'base': #f56c6c,
//   ),
//   'info': (
//     'base': #909399,
//   ),