@import './opsi.scss';
@import './themes/light.scss';
@import './themes/dark.scss';

/* General Colors */
$white: #ffffff;
$black: #000000;

/* Global Variables */
html body {
  background-color: var(--color-background);
  color: var(--color-text);

  /* Element Plus Variables */
  --el-text-color-regular: var(--color-text);
  --el-fill-color-blank: var(--color-background);
  --el-text-color-primary: var(--color-text);
  --el-border-color: var(--border);
  --el-border-color-light: var(--border);
  --el-border-color-lighter: var(--border);
  --el-color-primary: #{$opsi-blue};
  --el-bg-color: var(--color-background);
  --el-bg-color-overlay: var(--color-background);
  --el-fill-color-light: var(--hover);
  --el-color-primary-light-9: var(--hover);
  --el-text-color-placeholder: var(--placeholder);
  --el-color-info: var(--color-text);
  --el-color-info-light-9: var(--hover);
}

/* Text */
html .text-white {
  --el-text-color-regular: $white;
  color: $white;
}

/* Backgrounds */
.bg-general {
  --el-text-color-regular: var(--color-text);
  --el-fill-color-blank: var(--color-background);
  background-color: var(--color-background);
}

.bg-opsi-blue {
  --el-color-primary: $white;
  --el-border-color: #{$opsi-medium-gray};
  --el-border-color-light: #{$opsi-gray};
  --el-text-color-placeholder: #{$opsi-medium-gray};
  --color-background: $opsi-blue;
  --color-text: $white;
  --el-disabled-bg-color: #{$opsi-blue};
  --el-disabled-text-color: #{$opsi-medium-gray};
  background-color: $opsi-blue;
  color: $white;

  &.el-card {
    --el-fill-color-blank: #{$opsi-blue};
    --el-card-bg-color: #{$opsi-blue};
    border: none;
  }

  &.el-menu,
  &.el-menu--horizontal.el-menu,
  &.el-menu--horizontal > .el-menu-item.is-active,
  .el-menu-item.is-active,
  .el-menu-item:hover,
  &.el-menu--collapse .el-sub-menu.is-active .el-sub-menu__title,
  &.el-menu--collapse .el-sub-menu.is-active .el-sub-menu__title:hover {
    --el-menu-bg-color: #{$opsi-blue};
    --el-menu-text-color: #{$white};
    background-color: $opsi-blue;
  }

  &.el-menu {
    border-right: none;

    &--horizontal.el-menu,
    &--horizontal > .el-menu-item.is-active {
      border-bottom: none;
    }
  }

  .el-menu-item.is-active,
  .el-menu-item:hover,
  &.el-menu--collapse .el-sub-menu.is-active .el-sub-menu__title,
  .el-sub-menu.is-active,
  .el-sub-menu__title.is-active,
  .el-sub-menu__title:hover {
    background-color: $opsi-deep-blue;
    color: $white;
  }

  .el-checkbox-button__inner,
  .el-button {
    background-color: $opsi-blue;
    color: $white;
  }

  .el-button:hover {
    background-color: $opsi-deep-blue;
    color: $white;
  }
}

/* Tabs */
html .el-tabs__item.is-active {
  background-color: $opsi-blue;
  color: $white;
}

html .el-tabs__item:hover {
  background-color: var(--hover);
  color: var(--color-text);
}

/* Buttons */
html .el-button:hover {
  background-color: $opsi-blue;
  color: $white;
}

/* Dropdowns */
.el-dropdown__popper {
  --el-color-primary: var(--color-text);
}
