html,
body,
#app {
  background: unset !important;
  margin: 0;
  padding: 0;
}
body {
  background-color: unset !important;
  color: unset !important;
}

html {
  --opsi-genral-white: #E1E1E1;
  --opsi-general-red: #cb1e58;
  --opsi-general-blue: #3f5aa6;
  --opsi-general-blue-dark: #2d4178;
  --opsi-general-lighter: #e4e4e3;
  --opsi-general-light: #b2b2b2;
  --opsi-general-dark: #4b4b49;
  --opsi-general-darker: #3f3f3e;

  --opsi-log-secret: #D500F9;
  --opsi-log-trace: #8B8B8B;
  --opsi-log-debug: #565656;
  --opsi-log-info: #212121;
  --opsi-log-notice: #009605;
  --opsi-log-warning: #FF9100;
  --opsi-log-error: #E51D3B;
  --opsi-log-critical: #E20066;
  --opsi-log-essential: #2979FF;
}

html, html.light,
body[data-bs-theme="light"] {
  --el-bg-color: #FFFFFF;
  --bs-body-bg: var(--el-bg-color);
  --bg-color: var(--el-bg-color);
  // --el-fill-color: #aaaaaa;
  // --el-fill-color-light: var(--el-fill-color);

  --fg-color: #000000;
  // --el-text-color-regular: #e1e1e1;
  // --el-input-text-color: #E1E1E1;
  --el-text-color-primary: #000000;
  --el-notification-content-color: var(--el-text-color-primary);
  // --el-text-color-regular: #000000;
  --el-menu-text-color: #000000;
  background: var(--bg-color) !important;
  color: var(--fg-color) !important;

  .el-notification,
  .el-notification__content {
    --el-notification-content-color: var(--el-text-color-primary);
    color: var(--el-notification-content-color);
  }

  .text-on-primary {
    --el-text-color-regular: var(--opsi-genral-white);
    color: var(--el-text-color-regular);
  }
}
// html.dark {
html.dark,
body[data-bs-theme="dark"] {
  --el-bg-color: #3f3f3e;
  --bs-body-bg: var(--el-bg-color);
  --bg-color: var(--el-bg-color);
  --el-bg-color-overlay: #4b4b49 !important;
  // --fg-color: var(--el-text-color-primary);
  --fg-color: var(--opsi-genral-white);
  --el-text-color-primary: var(--opsi-genral-white);
  --el-input-text-color: var(--opsi-genral-white);

  --el-notification-content-color: var(--el-text-color-regular);
  // --el-text-color-regular: #CFD3DC;
  background: var(--bg-color) !important;
  color: var(--fg-color) !important;

  .text-on-primary {
    --el-text-color-regular: var(--opsi-genral-white);
    color: var(--el-text-color-regular);
  }
}



a {
  font-weight: 400;
  color: var(--el-color-primary);
}
button.pressed {
  // color: var(--el-button-hover-text-color);
  border-color: var(--opsi-general-blue);
  // background-color: var(--el-button-hover-bg-color);
  background-color: var(--opsi-general-blue);
  outline: none;
}

.el-input , .el-checkbox__input {
  border: var(--fg-color) solid 1px;
}

.el-popper, .el-vl__window  {
  // width: 500px !important;
  width: fit-content;
  min-width: 200px;
  // max-width: 400px;
}