/* General OPSI Colors */
$opsi-magenta: #cb1e58;
$opsi-deep-blue: #2d4178;
$opsi-blue: #3f5aa6;
$opsi-deep-gray: #3f3f3e;
$opsi-gray: #4b4b49;
$opsi-medium-gray: #b2b2b2;
$opsi-light-gray: #e4e4e3;

/* Base Colors - Light Theme */
$opsi-base-light-background: #FFFFFF;
$opsi-base-light-text: #000000;

/* Base Colors - Dark Theme */
$opsi-base-dark-background: #3f3f3e;
$opsi-base-dark-text: #E1E1E1;

/* Log Colors - Light Theme */
$opsi-log-light-secret: #D500F9;
$opsi-log-light-trace: #8B8B8B;
$opsi-log-light-debug: #565656;
$opsi-log-light-info: #212121;
$opsi-log-light-notice: #009605;
$opsi-log-light-warning: #FF9100;
$opsi-log-light-error: #E51D3B;
$opsi-log-light-critical: #E20066;
$opsi-log-light-essential: #2979FF;

/* Log Colors - Dark Theme */
$opsi-log-dark-secret: #D500F9;
$opsi-log-dark-trace: #8B8B8B;
$opsi-log-dark-debug: #C0C0C0;
$opsi-log-dark-info: #F5F5F5;
$opsi-log-dark-notice: #009605;
$opsi-log-dark-warning: #FF9100;
$opsi-log-dark-error: #E51D3B;
$opsi-log-dark-critical: #E20066;
$opsi-log-dark-essential: #2979FF;

/* OK, WARNING, ERROR Colors */
$opsi-ok: #009605;
$opsi-ok-dark: #246b32;
$opsi-warning: #FF9100;
$opsi-warning-dark: #bb8819;
$opsi-error: #E51D3B;
$opsi-error-dark: #aa2126;