/* General OPSI Colors */
$opsi-magenta: #cb1e58;
$opsi-deep-blue: #2d4178;
$opsi-blue: #3f5aa6;
$opsi-deep-gray: #3f3f3e;
$opsi-gray: #4b4b49;
$opsi-medium-gray: #b2b2b2;
$opsi-light-gray: #e4e4e3;

/* Base Colors - Light Theme */
$opsi-base-light-background: #ffffff;
$opsi-base-light-text: #000000;

/* Base Colors - Dark Theme */
$opsi-base-dark-background: #3f3f3e;
$opsi-base-dark-text: #e1e1e1;

/* Log Colors - Light Theme */
$opsi-log-light-secret: #d500f9;
$opsi-log-light-trace: #8b8b8b;
$opsi-log-light-debug: #565656;
$opsi-log-light-info: #212121;
$opsi-log-light-notice: #009605;
$opsi-log-light-warning: #ff9100;
$opsi-log-light-error: #e51d3b;
$opsi-log-light-critical: #e20066;
$opsi-log-light-essential: #2979ff;

/* Log Colors - Dark Theme */
$opsi-log-dark-secret: #d500f9;
$opsi-log-dark-trace: #8b8b8b;
$opsi-log-dark-debug: #c0c0c0;
$opsi-log-dark-info: #f5f5f5;
$opsi-log-dark-notice: #009605;
$opsi-log-dark-warning: #ff9100;
$opsi-log-dark-error: #e51d3b;
$opsi-log-dark-critical: #e20066;
$opsi-log-dark-essential: #2979ff;

/* OK, WARNING, ERROR Colors */
$opsi-ok: #009605;
$opsi-ok-dark: #246b32;
$opsi-warning: #ff9100;
$opsi-warning-dark: #bb8819;
$opsi-error: #e51d3b;
$opsi-error-dark: #aa2126;

:root {
    --color-opsi-magenta: #{$opsi-magenta};
    --color-opsi-deep-blue: #{$opsi-deep-blue};
    --color-opsi-blue: #{$opsi-blue};
    --color-opsi-deep-gray: #{$opsi-deep-gray};
    --color-opsi-gray: #{$opsi-gray};
    --color-opsi-medium-gray: #{$opsi-medium-gray};
    --color-opsi-light-gray: #{$opsi-light-gray};
    --color-opsi-base-light-background: #{$opsi-base-light-background};
    --color-opsi-base-light-text: #{$opsi-base-light-text};
    --color-opsi-base-dark-background: #{$opsi-base-dark-background};
    --color-opsi-base-dark-text: #{$opsi-base-dark-text};
    --color-opsi-log-light-secret: #{$opsi-log-light-secret};
    --color-opsi-log-light-trace: #{$opsi-log-light-trace};
    --color-opsi-log-light-debug: #{$opsi-log-light-debug};
    --color-opsi-log-light-info: #{$opsi-log-light-info};
    --color-opsi-log-light-notice: #{$opsi-log-light-notice};
    --color-opsi-log-light-warning: #{$opsi-log-light-warning};
    --color-opsi-log-light-error: #{$opsi-log-light-error};
    --color-opsi-log-light-critical: #{$opsi-log-light-critical};
    --color-opsi-log-light-essential: #{$opsi-log-light-essential};
    --color-opsi-log-dark-secret: #{$opsi-log-dark-secret};
    --color-opsi-log-dark-trace: #{$opsi-log-dark-trace};
    --color-opsi-log-dark-debug: #{$opsi-log-dark-debug};
    --color-opsi-log-dark-info: #{$opsi-log-dark-info};
    --color-opsi-log-dark-notice: #{$opsi-log-dark-notice};
    --color-opsi-log-dark-warning: #{$opsi-log-dark-warning};
    --color-opsi-log-dark-error: #{$opsi-log-dark-error};
    --color-opsi-log-dark-critical: #{$opsi-log-dark-critical};
    --color-opsi-log-dark-essential: #{$opsi-log-dark-essential};
    --color-opsi-ok: #{$opsi-ok};
    --color-opsi-ok-dark: #{$opsi-ok-dark};
    --color-opsi-warning: #{$opsi-warning};
    --color-opsi-warning-dark: #{$opsi-warning-dark};
    --color-opsi-error: #{$opsi-error};
    --color-opsi-error-dark: #{$opsi-error-dark};
  }