:root{
  --primary: var(--opsi-red);
  --primary-dark: var(--opsi-red-dark);
  --secondary: var(--opsi-blue);
  --secondary-dark: var(--opsi-blue-dark);
  --success: #198754;
  --success-dark: #136740;
  --danger: #dc3545;
  --warning: #ffc107;
  --info: #0db1f0;
  --light: #f8f9fa;
  --dark: #343a40;

  --opsi-blue: #006599;
  --opsi-blue-dark: #025781;
  --opsi-red: #c33b67;
  --opsi-red-dark: #b31c4c;

  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  --text-small-size: 12px;

  --component-height: 40px;
  --component-width: 200px;
  
  --max-height-window:500px;
  --height-navbar: 56px;

  --width-sidebar-expanded:190px;
  --width-sidebar-collapsed:53px;

  --margin-top-maincontent:60px;
  --margin-left-maincontent:15px;
  --margin-left-maincontent-if-sidebar-collpased:70px;
  --margin-left-maincontent-if-sidebar-expanded:205px;
  --color-hover: 155, 155, 155, .1;
  --min-height-button: 31px;
  --min-line-height: 12px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important; /* remove "Noto Color Emoji" */
}
.tooltip {
  font-family: inherit !important;
}

[class$="bg-orange"] { background-color: var(--orange) !important;}
[class$="bg-yellow"] { background-color: var(--yellow) !important;}
[class$="bg-red"] { background-color: var(--red) !important;}
[class$="bg-green"] { background-color: var(--green) !important;}
[class$="bg-blue"] { background-color: var(--blue) !important;}
[class$="bg-grey"] { background-color: var(--gray) !important;}

[class$="fg-orange"] { color: var(--orange) !important;}
[class$="fg-yellow"] { color: var(--yellow) !important;}
[class$="fg-red"] { color: var(--red) !important;}
[class$="fg-green"] { color: var(--green) !important;}
[class$="fg-blue"] { color: var(--blue) !important;}
[class$="fg-grey"] { color: var(--gray) !important;}
.btn, .dropdown-item{
  min-height: var(--min-height-button) !important;
}
.table{
  color: unset !important;
}
.badge-warning{
  color: var(--light) !important;
}

.value-changed-not-saved {
  color: var(--orange) !important;
}
/* .table.b-table.table-hover > tbody > tr.table-active:hover td, .table.b-table.table-hover > tbody > tr.table-active:hover {
  background-image: unset !important;
} */
/* .table-active, .table-active > td, .table-active > th,
.table.b-table > tbody > .table-active, .table.b-table > tbody > .table-active > th, .table.b-table > tbody > .table-active > td { */
  /* background-color: revert; */
  /* all: revert;
  cursor: pointer; */
  /* background-color: var(--primary) !important; */
/* } */
/* .table.b-table > tbody > .table-active, .table.b-table > tbody > .table-active > th, .table.b-table > tbody > .table-active > td {
  all: revert;
} */
/* .table-hover tbody tr:hover,
.table.b-table.b-table-selectable:not(.b-table-selectable-no-click) > tbody > tr:hover,
.dropdown-menu .dropdown-item:hover {
  background-color: rgba(var(--color-hover)) !important;
  color: inherit !important;
} */

/* .bg-color-red { background-color: red !important; }
.bg-color-orange { background-color: orange !important; }
.bg-color-yellow { background-color: yellow !important; }
.bg-color-grey { background-color: rgb(196, 196, 196) !important; } */
.width-max-content{
    max-width: max-content !important;
}

.footer_content .btn, .footer_content .navbar, .footer_content .navbar-brand, .footer_content .navbar-nav .nav-link, .footer_content .navbar-text,
.topbar_content .btn, .topbar_content .navbar, .topbar_content .navbar-brand, .topbar_content .navbar-nav .nav-link, .topbar_content .navbar-text,
.sidebar_content .b-icon,
.sidebar_content .btn,
.sidebar_content .navbar,
.sidebar_content .nav-item,
.sidebar_content .navbar-text,
.sidebar_content .nav-tabs .nav-link,
.sidebar_content .nav-tabs .nav-link.disabled,
.sidebar_content .navbar-brand,
.sidebar_content .navbar-nav .nav-link {
  color: inherit !important;
  background-image: none !important;
  /* background-repeat: no-repeat !important; */
}
.footer_content .btn, .footer_content .dropdown-toggle,
.topbar_content .btn, .topbar_content .dropdown-toggle,
.sidebar_content .btn, .sidebar_content .nav-tabs .nav-link, .sidebar_content .nav-tabs .nav-link.disabled {
  border: none !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom: none !important;
  background-color: transparent !important;
}

.btn{
  height: var(--component-height) !important;
  border-color: inherit !important;
}
.btn-secondary {
  color: #fff !important;
  background-color: var(--secondary) !important;
  border-color: var(--secondary) !important;
}
.btn-secondary:hover {
  color: #fff !important;
  background-color: var(--secondary-dark) !important;
  border-color: var(--secondary-dark) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}
.bg-secondary {
  background-color: var(--secondary) !important;
}

.text-white {
  color: #fff !important;
}
.text-primary {
  color:#ffffff !important;
  background: #0071bc !important;
}
.text-secondary {
  color: #dce4ef !important;
}
.text-success {
  color:#ffffff !important;
  background: #2e8540 !important;
}
.text-danger {
  background: #cd2026 !important; 
  color: #fff !important;
}
.text-warning {
  color:#212121 !important;
  background: #fdb81e !important;
}
.text-info {
  color: #0db1f0 !important;
}
.text-light {
  color: #f8f9fa !important;
}
.text-dark {
  color: #343a40 !important;
}