{
  "env": {
    "test": {
      "plugins": ["transform-remove-console"],
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    },
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
